/* Lines 6-8 include a type selector in which it can be used to style the elements on the page. *
/*--The CSS rules inside the style element apply to the HTML elements specified by the selectors */
/* Most of the time type selectors will include the following:
selector/s, properties and a value. */

h1, h2, p {
    text-align: center;
}

body {
    /* You can use the line of code below to include a background image to your site */
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);

    /* Use font-family property to change the font of the text from the default */
    font-family: sans-serif;
    padding: 20px;
}

/* You can change the default values/settings of how heading elements are displayed */
h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}



/* You can use different selectors to style elements, it doesn't just have to be id. Examples include; 
type, class, id, universal and many others. */
/* If you change what selector you use in css file, make sure to change it in the html file as well. */
.menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;

    /* You can use padding-left and padding-right to give some space between your content and the sides */
    /* if you have all your content having the same spacing for padding, you can just use a singular 
    padding element to make your code neater */
    padding: 20px;

    /* You can use max-width property to manage how big you want your element to be and so it doesn't just stick to the defauilt */
    max-width: 500px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
  }

/* You can change the style of the <hr> element using the same format as you use for styling other elements*/
hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.bottom-line {
    margin-top: 25px;
}

h1, h2 {
    font-family: Impact, serif;
    /* You can use a fallback property for instances where the initial font may not be able to be found or is available.
    More time this will just go on the same line as your first font family.*/ 
}

.established {
    font-style: italic;
}

/* Use the line of code below to style elements selected to but them on the same line.
This is mostly used with elements inside <p> because they are block level elements so they mostly always start on a new line. 
Block level elements start on a new line, stacking vertically and usually take up the full width*/
.item p {
    display: inline-block;
    /* Note: inline-block elements only take up the width of their content therefore, you need to spread them out 
    by add a width property to class selectors you are working witb. */
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}


.flavor, .dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}

/* FOOTER */
footer {
    font-size: 14px;
}

a {
    color: black;
}

/*You change properties of a link when the link has actually been visited by using a 
pseudo-selector that looks like a:visited { propertyName: propertyValue; }. */
a:visited {
    color: black;
}

/*You change properties of a link when the mouse hovers over them by using a 
pseudo-selector that looks like a:hover { propertyName: propertyValue; } */
a:hover {
    color: brown;
}

/* You change properties of a link when the link is actually being clicked by using a 
pseudo-selector that looks like a:active { propertyName: propertyValue; }. */
a:active {
    color: brown;
}

.address {
    margin-bottom: 5px;
}