/* Lines 6-8 include a type selector in which it can be used to style the elements on the page. *
/*--The CSS rules inside the style element apply to the HTML elements specified by the selectors */
/* Most of the time type selectors will include the following:
selector/s, properties and a value. */

h1, h2, p {
    text-align: center;
}

body {
    /* You can use the line of code below to include a background image to your site */
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}


/* You can use different selectors to style elements, it doesn't just have to be id. Examples include; 
type, class, id, universal and many others. */
/* If you change what selector you use in css file, make sure to change it in the html file as well. */
.menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;

    /* You can use padding-left and padding-right to give some space between your content and the sides */
    /* if you have all your content having the same spacing for padding, you can just use a singular 
    padding element to make your code neater */
    padding: 20px;
}

/* Use the line of code below to style elements selected to but them on the same line.
This is mostly used with elements inside <p> because they are block level elements so they mostly always start on a new line. 
Block level elements start on a new line, stacking vertically and usually take up the full width*/
.item p {
    display: inline-block;
    /* Note: inline-block elements only take up the width of their content therefore, you need to spread them out 
    by add a width property to class selectors you are working witb. */
}


.flavor, .dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}