/* Lines 6-8 include a type selector in which it can be used to style the elements on the page. *
/*--The CSS rules inside the style element apply to the HTML elements specified by the selectors */
/* Most of the time type selectors will include the following:
selector/s, properties and a value. */

h1, h2, p {
    text-align: center;
}

body {
    /* background-color: burlywood; */
}


/* You can use different id selectors to style elements. Examples include; 
type, class, id, universal and many others. */
.menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
}